@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto";
}

body,
html {
  margin: 0;
  height: 100%;
}

.create-login-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 20%;
  padding: 0.5rem;
  margin: 0.5rem;
}

#createAccount-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-create-button {
  display: flex;
  justify-content: center;
}

.loged-create-sucsessfuly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.main-page-witches {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.witch-card {
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;
  margin-top: 1rem;
  width: 20rem;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
  height: 23rem;
  overflow: hidden;
  
}

.witch-img{
  width: 100%;
  height: 90%;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
  transition: transform 0.7s;
  
}

.image-div-card{
  display: block;
  width: 100%;

  object-fit: contain;
}

.witch-card:hover .witch-img {
  transform: scale(1.2);
}

.witch-card:hover{
  cursor: pointer;

}

#details-image {
  width: 100%;
  height: 100%;
}

.heart {
  transition: transform 0.2s;
}
.heart:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#witch-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#main-page-title {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

#web-header {
  border-bottom: 1px solid;
  height: 5rem;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



#reg-nav {
  width: 46rem;
  display: flex;
  justify-content: space-evenly;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  align-items: center;
}

.links{
  margin-inline: 2rem;
  width: 4rem;
}

#my-fav-witches {
  padding: 0.5rem;
}


a {
  text-decoration: none;
}

a:hover{
  color: gray;
}

.selected{
  color: black;
  text-decoration: solid black
}

#logo-img{
width: 100%rem;
height: 100%;
padding: 0.5rem;
}

#logo-title{
  display: flex;
  justify-content: center;
  text-align: end;
}

#logo-title:hover {
  cursor: pointer;
}

h1 {
  display: flex;
  align-items: end;
}

.witch-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 19rem;
}


/* .heart-card{
  display: flex;
  justify-content: end;
  text-align: end;
} */

#owner{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
