@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body, html {
  margin: 0;
  height: 100%;
}

.create-login-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20%;
    padding: 0.5rem;
    margin: 0.5rem;
}

#createAccount-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login-create-button {
  display: flex;
  justify-content: center;

}

.loged-create-sucsessfuly {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}